.editor {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0.5rem;
  // background-color: hsl(225, 6%, 25%);

  .code-mirror-wrapper {
    flex-grow: 1;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
  }
}

.CodeMirror {
  height: 100% !important;
}
